wandb
torch_geometric
# pyg_lib -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch_scatter -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch_sparse -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch_cluster -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch_spline_conv -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
QKeras
# matplotlib
# numpy
# uproot
# h5py
# keras
# tensorflow
# scikit-learn
# scikit-optimize
# pandas
# torch
# ipykernel
# tqdm
# jupyter
# awkward
